@media only print {

	footer p:after { 
		content:"Versión Impresa";
<<<<<<< HEAD
		color:darkblue; /*black*/
=======
		color:darkblue; 
>>>>>>> origin/001V
		text-align:center;
		display:block;
		width: 240px;
		margin-left:auto;
		margin-right:auto;
	}
	
        body {
                color: darkblue;
        }
        
	#logo-empresa img {
		content: url(../img/logo-800-1280.png);
		width:120px;
		height:80px;
		margin-top: 20px;
	}
	
	header, footer {
		background-color: lightsalmon;
	}

}
